@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-white text-slate-800 antialiased dark:bg-slate-950 dark:text-slate-200;
    overscroll-behavior: none;
  }
}

@layer components {
  .container-app {
    @apply mx-auto max-w-3xl px-4;
  }
}
